@import url("https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&family=Space+Grotesk:wght@400;500;700&display=swap");

* {
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Space Grotesk;
  color: black;
  
}


h2 {
  color: #0f298b;
  font-weight: 500;
  font-size: 2em;
}
body {
  background-color: #fafafa;
  margin: 38px;

}

/* Nav bar styles  */
header:hover {
  background-color: white;
  transition: all 0.5s ease-out;
  transform: scale(1.02);
}

nav {
  display: flex;
  flex-direction: row;
  height: 70px;
  /* gap:60px; */
  justify-content: space-evenly;
  align-items: center;
  padding: 20px 30px 20px 30px;
  border-bottom: 1px solid rgb(231, 220, 220);
  box-sizing: border-box;
  width: auto;

}
.nav-bar {
  align-items: center;
}

.active,
a:hover {
  color: #2549d3;
}

#main-title {
  font-family: Oleo Script;
}

li {
  display: inline;
  padding: 20px;
}

.button {
  background-color: #2549d3;
  border-radius: 5px;
  box-sizing: content-box;
  width: 100px;
  height: 35px;
  color: white;
  font-weight: 600;
  font-family: Space Grotesk;
  font-weight: bolder;
  border-style: none;
  
}

/* Intro class styles */
.intro {
  margin: 50px;
  display: flex;
  /* gap: 50px; */
  align-items: center;
  justify-content: space-evenly;
  width:auto;
}
.learn_more {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.icons {
  margin-top: 25px;
  display: flex;
  gap: 30px;
}
img {
  height: 300px;
}
.material-symbols-outlined {
  color: #0f298b;
  font-size: 30px;
}
/* End of intro div  */

/* Start of type */

.type {
  background-color: white;
  transition: all 0.5 ease-out;
  height: 80px;
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgb(235, 233, 233);
  box-sizing: border-box;
  width: 1000px;

  
}
.places {
  display: flex;
  flex-direction: column;
}

.type:hover {
  transform: scale(1.02);
  background-color: white;
}

select {
  border-style: none;
  color: #0f298b;
  background-color: white;
  text-decoration: none;
  font-weight: 500;
  padding: 15px;

  /* justify-content: space-between; */
}

.search {
  background-color: #2549d3;
  display: flex;
  width: 100px;
  height: 35px;
  justify-content: center;
  padding: 8px;
  border-radius: 5px;
  color: white;
}
.material-symbols-rounded {
  color: white;
}

#products{
    text-align: left;
    
    
}

.products{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.prod-info{
    text-align: center;

}

.cards{
    display: flex;
    margin: 20px;   
    gap: 25px;
}

.card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding:50px;
    box-sizing: content-box;
    width: 200px;
    margin-top: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(235, 233, 233);

    

}

.image2{
    height: 80px;
    margin-bottom:25px;

}


/* start  styling choose class */

.choose{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}  

.choose-info{
    line-height: 2em;
    
}

.square-check1 ,.square-check2{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    gap:10px;
    font-size: 300;   
    text-align: center;
}


